@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(98% 0.002 247.839);
  --color-base-200: oklch(96% 0.003 264.542);
  --color-base-300: oklch(92% 0.006 264.531);
  --color-base-content: oklch(21% 0.034 264.665);

  --color-primary: #14B8A6;
  --color-primary-content: oklch(98% 0.002 247.839);

  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(98% 0.002 247.839);

  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);

  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(98% 0.002 247.839);

  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);

  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.002 247.839);

  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);

  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);

  --color-border: var(--color-base-100);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);

  --color-primary: #14B8A6;
  --color-primary-content: oklch(98% 0.002 247.839);

  --color-secondary: oklch(54% 0.245 262.881);
  --color-secondary-content: oklch(98% 0.002 247.839);

  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);

  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(98% 0.002 247.839);

  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);

  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.002 247.839);

  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);

  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --color-border: var(--color-base-100);

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

*{
    font-family: 'Inter';
}

.font-pacifico{
    font-family: 'Pacifico';
}

.btn{
    @apply font-bold
}

.active{
    @apply bg-primary rounded-sm text-white
}

.activeDashMenu{
    @apply bg-primary font-bold 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
